.col-md-7.col-xs-7
  .card.card-outline-primary
    .card-header
      %h1 Contact Information
    .card-block
      %h2 Timor Contact Details
      :markdown
        #### Our Address:
  
        Pantai Kelapa
        Dili, Timor Leste
        
        #### Legal: 

        Operating Company: Teddy Lotere Lda