.col-md-7.col-xs-7
  .card.card-outline-primary
    .card-header
      %h2 Map
    .card-block
      %iframe(width="420" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.527158757682!2d125.54363881478324!3d-8.545199093857368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2d01dd6a904e4c79%3A0x29ddfd16597af790!2sTimor+Scratch!5e0!3m2!1sen!2s!4v1499176953302")