.col-md-7.col-xs-7
  .card.card-outline-primary
    .card-header
      %h1 
        = I18n.translate('contact.csr')
    .card-block
      %h2 Overall
      :markdown
        We want to contribute to nation building by investing in people and returning a fair share to game players.
      %h3 Staffing
      %p We currently have 35 staff with an total payroll of 140,000 USD /year. 
      %h3 Investment and Marking
      %p We have returned over 350,000 USD in winners. We have invested over 200,000 USD in the local economy and continue to invest.  We have regular training for distributors and staff in computers and mobile applicaiton development
      %h3 Player return
      %p We return on average 60% (or higher) of every dollar the player spends.