.panel.panel-success
  .panel-heading 
    = I18n.translate('donate.title')
  .panel-body
    %ul
      -list = ['donate.telk','donate.telkolg','donate.xl']
      -list.each do  |li|
        %li 
          = I18n.translate(li)

