.row
  .col-md-offset-7.col-md-3
    %p 
      = I18n.translate('footer.service')
      %a(href="http://koni.or.id/")
        Koni
.row
%br
%br
.footer
  #accordionFoot.panel-group
    .panel.panel-bold.panel-info
      .panel-heading
        %h4.panel-title
          %a{:class=>"accordion-toggle", "data-toggle"=>"collapse" , "data-parent"=>"#accordianFoot", "data-target"=>"#collapseFootOne"}
            = I18n.translate('footer.copy')
      #collapseFootOne.panel-collapse.collapse
        .panel-body
          %p 
            PT Estormtek Indonesia 
            = I18n.translate('footer.service')
            %a(href='http://koni.or.id/')
              %h6 KONI
          %img(src="/attachments/estorm.jpg" class="img-responsive" alt='estorm logo')
          %a(href='http://www.estormtech.com')
            %h6 Copyright PT Estormtek Indonesia 2015
          %p
            %small Company registration: 66.217.198.2-012.00

%script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
%script(type="text/javascript" src="/bootstrap/dist/toolkit.min.js")
