.row
  .col-md-offset-7.col-md-3
    %p 
      A marketing service provided by PT Estormtek Indonesia on behalf of 
      %a(href="http://koni.or.id/")
        Koni
.row
%br
%br
.footer
  #accordionFoot.panel-group
    .panel.panel-default
      .panel-heading
        %h5.panel-title
          %a{:class=>"accordion-toggle", "data-toggle"=>"collapse" , "data-parent"=>"#accordianFoot", "data-target"=>"#collapseFootOne"}
            %small
              Copyright and Legal
      #collapseFootOne.panel-collapse.collapse
        .panel-body
          %p 
            PT Estormtek Indonesia provides marketing and operational services on behalf of 
            %a(href='http://koni.or.id/')
              %h6 KONI
          %img(src="/attachments/estorm.jpg" class="img-responsive" alt='estorm logo')
          %a(href='http://www.estormtech.com')
            %h6 Copyright PT Estormtek Indonesia 2015
          %p
            %small Company registration: 66.217.198.2-012.00


%script(type="text/javascript" src="http://code.jquery.com/jquery.js")
%script(type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js")
%script(type="text/javascript" src="/javascripts/application.js")
