.row
  .col-md-offset-7.col-md-3
    %p 
      A marketing service provided by PT Estormtek on behalf of 
      %a(href="/t_and_c")
        Koni
.row
%br
%br
.footer
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h5.panel-title
          %a{:class=>"accordion-toggle", "data-toggle"=>"collapse" , "data-parent"=>"#accordian", "data-target"=>"#collapseOne"}
            %small
              Copyright and Legal
      #collapseOne.panel-collapse.collapse
        .panel-body
          %p 
            Estorm Technologies provides marketing and operational services on behalf of 
            %a(href='/t_and_c')
              %h6 KONI
            and has bbeen granted the following letter by Koni
          = "Version: 1.2 " 
          %img(src="/attachments/estorm.jpg" class="img-responsive" alt='estorm logo')
          %a(href='http://www.estormtech.com')
            %h6 Copyright Etorm Technologies Pte. Ltd. 2015
          %p
            %small Company registration: 200904977M


%script(type="text/javascript" src="http://code.jquery.com/jquery.js")
%script(type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js")
%script(type="text/javascript" src="/javascripts/application.js")
