
.row
%br
%br
.footer
  #accordionFoot.panel-group
    .panel.panel-bold.panel-info
      .panel-heading
        %h4.panel-title
          %a{:class=>"accordion-toggle", "data-toggle"=>"collapse" , "data-parent"=>"#accordianFoot", "data-target"=>"#collapseFootOne"}
            = I18n.translate('footer.copy')
      #collapseFootOne.panel-collapse.collapse
        .panel-body
          %p 
            Sea Holdings Lda
            = I18n.translate('footer.service')
            %a(href='http://www.timor-scratch.com/')
              %h6 KONI
          %img(src="/attachments/estorm.jpg" class="img-responsive" alt='estorm logo')
          %a(href='http://www.estormtech.com')
            %h6 Copyright Teddy Lotere 2017
          %p
            %small Company registration: xxxx

%script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
%script(type="text/javascript" src="/bootstrap/dist/toolkit.min.js")
