%nav.navbar.navbar-toggleable-md.navbar-light.bg-fade
  /.container-fluid
  /.navbar-header
  %button.navbar-toggler.navbar-toggler-right{:type => "button", "data-toggle" => "collapse", "data-target" => "#navbar-ex-collapse", 'aria-controls'=> "navbar-ex-collapse", "aria-expanded"=>"false","aria-label"=>"Toggle navigation"}
    %span.navbar-toggler-icon
  %a(class="navbar-brand" href="/")
    %span
      %img( src="/attachments/tslogo.sm.jpg" width=23 height=23 alt='ts logo')
      %h5
        %strong
          = @heading
  .navbar-collapse.collapse(id="navbar-ex-collapse")    
    - display_menu(@menu_items, :class => "nav navbar-nav", :levels => 1)
    -langs=['en','ba','tet']
    -langs.each do |lang|
      .col-xs-1.pull-right
        %form{ :action => "/lang/#{lang}", 'method' => 'post'} 
          %button(type="submit" class="btn btn-link")
            %img(src="/attachments/flags/#{lang}.png" height=20 width=40)
      .col-xs-1.pull-right



