.panel.panel-bold.panel-info
  .panel-body.p-b-lg
    %h3.m-y-0
      = I18n.translate('promo.title')
    %h4.m-y-0.text-md-left
      = I18n.translate('promo.source')
    %hr
    %h2.m-y-0
      %strong
        = I18n.translate('promo.details')

         