#carousel-sponsors(class="carousel carousel-light slide" data-ride="carousel" data-interval=5000)
  %ol.carousel-indicators
    %li(data-target="#carousel-sponsors" data-slide-to="0" class="active")
    - 1.upto(2) do |i|
      %li(data-target="#carousel-example" data-slide-to="#{i}" )
  .carousel-inner
    .item.active
      %img(src="/attachments/winners/lospalos-3000.jpg" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary 2 3000 winners from lospalos Nov 5
    .item
      %img(src="/attachments/winners/bobo_3000_hat.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary 3000 winner from Bobonaro July 14
  %a(class="left carousel-control" href="#carousel-sponsors" data-slide="prev" role="button")
    %span(class="icon icon-chevron-thin-left" aria-hidden="true")
    %span(class="sr-only")
      Previous
  %a(class="right carousel-control" href="#carousel-sponsors" data-slide="next" role="button")
    %span(class="icon icon-chevron-thin-right" aria-hidden="true")
    %span(class="sr-only")
      Previous