#carousel-example(class="carousel slide" data-ride="carousel" data-interval=5000)
  %ol.carousel-indicators
    %li(data-target="#carousel-example" data-slide-to="0" class="active")
    - 1.upto(5) do |i|
      %li(data-target="#carousel-example" data-slide-to="#{i}" )
  .carousel-inner
    .item.active
      %img(src="/attachments/winners/lospalos-3000.jpg" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary 2 3000 winners from lospalos Nov 5
    .item
      %img(src="/attachments/winners/bobo_3000_hat.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary 3000 winner from Bobonaro July 14
    .item
      %img(src="/attachments/winners/bacau_3000.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary A smiling $3000 winner from Bacau
    .item
      %img(src="/attachments/winners/suai_3000_sept01.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary A pretty $3000 winner from Suai
    .item
      %img(src="/attachments/winners/gg4_jan2015_3000.JPG" alt="$3000 lospalos")
      .carousel-caption
        %h2.text-primary Lospalos 3000 Winner Jan 2015
    .item
      %img(src="/attachments/winners/bacua_3D_april2015.JPG" alt="$3000 lospalos")
      .carousel-caption
        %h2.text-primary Bacau 3D 200 Winner April 2015 
    .item
      %img(src="/attachments/winners/suia-sept2014.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary Lucky and happy $3000 winner from Suai
    .item
      %img(src="/attachments/winners/diano-dec-3000.jpg" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary Christmas $3000 winner from Maliana
    .item
      %img(src="/attachments/winners/batugade_amanu_3000.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary Amanu from Batugade 3000 winner
    .item
      %img(src="/attachments/winners/batugate-sept2014.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary A happy Batugade 3000 winner
    .item
      %img(src="/attachments/winners/bacau-300.jpeg" alt="$200 winner")
      .carousel-caption
        %h2.text-primary $200 3D Winner from Bacau
    .item
      %img(src="/attachments/winners/bacau-200-3d.jpg" alt="$200 winner")
      .carousel-caption
        %h2.text-primary Another $200 3D Winner from Bacau
    .item
      %img(src="/attachments/winners/maliano_3000_sept01.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary A happy $3000 winner and distributor from Maliano
    .item
      %img(src="/attachments/winners/suia_win_3000.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary 3000 winner from Suai Augut 2014
    .item
      %img(src="/attachments/winners/maliania_3000-sep20.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary Excited 3000 winner Mailian Sept 2014
    .item
      %img(src="/attachments/winners/mal_3000_win.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary Another 3000 winner from Mailiano Aug 2014
    .item
      %img(src="/attachments/winners/two-maliania-3000.jpg" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary Two winners from Maliana 3000
    .item
      %img(src="/attachments/winners/bobo_3000_dist.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary 3000 winner from Bobonaro July 14
    .item
      %img(src="/attachments/winners/alberto_3000_maliana.JPG" alt="$3000 winner")
      .carousel-caption
        %h2.text-primary Mr Alberto a $3000 Winner from Maliana District
    .item
      %img(src="/attachments/winners/oecussi_200.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary Basilio a $200 Winner from Oecussi
    .item
      %img(src="/attachments/winners/inacia-laga-200.jpg" alt="$200 winner")
      .carousel-caption
        %h2.text-primary $200 Winner from Laga District
    .item
      %img(src="/attachments/winners/gabriel_3000_americo.JPG" alt="Gabriel $3000 winner")
      .carousel-caption
        %h2.text-primary Happy Gabriel with $3000 from Batugade
    .item
      %img(src="/attachments/winners/winner_3000_mali.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary Cristover Winner $3000 Maliano
    .item
      %img(src="/attachments/winners/suai_200_castro.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary Calistro $200 Winner from Suai District
    .item
      %img(src="/attachments/winners/covalima_200.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary $200 Winner from Covalima District
    .item
      %img(src="/attachments/winners/winning_200_bobonaro.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary $200 Winner from Boboanaro 3D
    .item
      %img(src="/attachments/winners/batugade_3000.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary Happy $3000 Winner from Batugade   
    .item
      %img(src="/attachments/winners/suai-200-winner.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary Abel a $200 Winner from Suia 
    .item
      %img(src="/attachments/winners/teds_3d_200_winner.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary $200 Winner from Maliana District TEDS 3d
  %a(class="left carousel-control" href="#carousel-example" data-slide="prev" role="button")
    %span(class="glyphicon glyphicon-chevron-left")
  %a(class="right carousel-control" href="#carousel-example" data-slide="next" role="button")
    %span(class="glyphicon glyphicon-chevron-right")