Title: TMS Privacy Policy
Template: home
Link text: TMS Privacy

%h1 TMS Privacy Policy
%h2 What do we collect
%section.jumbotron
  %section.hero-unit
    :markdown
      We collect logs and information on clicks within the website to increase the performance of the website.  This information is anonymous
      
      From Google we use the ominauth identifier as a means to create  a userid and to sign into the system.  The only information we store is the google identifier and email so that we can identify who is logging into the system

%h2 What do we use it for
%section.jumbotron
  %section.hero-unit
    :markdown
      In general we only use the information to improve our website to perform better for the user.
      
      Information from google and other authorization providers is only used to facilitate logins for the customer.

%h2 What information do we share.
%section.jumbotron
  %section.hero-unit
    :markdown
      We don't have any friends so we don't share the information with anyone.
      
      In addition we do not sell the information or give it to any third party.

