Title: TMS Terms of Service
Template: home
Link text: TMS  Terms of Service

%h1 Ticket Management System Terms of Service
%h2 What do we collect
%section.jumbotron
  %section.hero-unit
    :markdown
      Currently this is a test system so we offer no warranty or guarantee that the system will operate properly.  We expect to move into beta mode in four weeks where the terms of service shall be updated


