Categories: contact
Title: About Us/Jobs
Template: home
Summary: Informaton about jobs and contact details

.container
  .row
    .col-md-9
      %h1
        = I18n.translate('contact.title')
      %p
        We are  small Timorese owned company with experienced gaming business partners from Singapore. The Teddy Lotere license is issued by MTCI and we pay both winners tax and social gaming taxes to the Timorese Government
  .row
    = haml :contact_card, :layout=> false
    %h1 &nbsp;
    = haml :contact_map, :layout=> false

  