Categories: contact
Title: About Us/Jobs
Template: home
Summary: Informaton about jobs and the company

.container
  .row
    .col-md-9
      %h1
        = I18n.translate('contact.title')
      %p
        We are  small Timorese owned company with business partners from Singapore Teddy Lotere license is issued by MTCI.

  