Categories: games
Title: Games
Template: home
Summary: Information our games

.container
  .row
    .col-md-9
      %h1
        = I18n.translate('games.shorttitle')
      - ['lafaek','dream','soccer'].each do |game|
        = haml :game_card, :layout=> false, :locals => {:name => game}
      %h1 &nbsp;
  .row
    .col-md-offset-1.col-md-9
      = haml :t_and_c_card, :layout=> false, :locals => {}
     

  