Template: home
Link text: Home

.container.fluid
  .row
    .col-md-offset-1.col-md-9
      %div.block.text-center
        %h1.block-title
          = I18n.translate('index.dutyfree')
        %h3
          = I18n.translate('index.nowopen')
        .callout
          .callout-content
            %img.img-responsive( src="/attachments/storeinterior.jpg" width=200 height=120 alt='sea duty interior')
            %strong
              Visit our online Batugade store
          .callout-secondary
            %h2
              %a(href="https://shop.seadutyfree.com/" class="btn btn-sm btn-info")
                = I18n.translate('index.online')
        %h4
          = I18n.translate('index.stores')
  

        


