Categories: mlm
Title: MLM
Template: home
Summary: MLM Results

.container
  .row
    .col-md-9
      %h1
        = I18n.translate('mlm.title')
      %h1 &nbsp;
      %p
        = I18n.translate('mlm.summary')
  .row
    .col-md-offset-1.col-md-9
      %iframe(src="https://www.wolframcloud.com/obj/scott_sproule/mlmCommission" width=700 height=700)
     

  