Title: Sponsors
Template: home
Link text: Sponsors


.container
  .row
    .col-md-offset-1.col-md-7
      %h1
        = I18n.translate('sponsors.title')
      %p= I18n.translate('sponsors.para1')
      %button.btn.btn-primary(type="button")
        %span.icon.icon-thumbs-up
        Like!
      %hr
      = haml :sponsors_carousel, :layout => false
    .col-md-4
      = haml :donate_menu, :layout => false

