Title: Prize Winners List
Template: home
Link Text: Stores


.container
  .row
    .col-offset-1.col-md-8.col-xs-8
      %section.intro
        %heading
        %h1
          = I18n.translate('stores.title')  
        %p
          = I18n.translate('stores.map')
        %p
          = I18n.translate('stores.batugade')
   